# Common
/.mixin.out
yes_steve_model*
/.cache/
/backups/
/caxton*
/.idea
/data
/CMI_*.jar
/CMI_*.json
/crash-reports/
/hmclversion.cfg
/local/
/logs/
/modernfix/
/options.txt
/patchouli_data.json
/PCL/
/xaero
/rhino.local.properties
schematics/uploaded/
/usercache.json
/usernamecache.json
/saves/新的世界/
/temp/
/screenshots
/CodeNameCIM2.jar
/CodeNameCIM2.json
/CIM2 Dev.jar
/CIM2 Dev.json
/CIM2 Dev-natives/
/saves/Debug/
/.idea
/server.dat
/observable_announce
/TweakerMoreForge
# *.zip
fancymenu_data
saves/*/session.lock
/schematics
hs_err*
/fabric*
/icon-exports-*
ESM
emi.json
XaeroWaypoints*
/oei
/oeb
/oef
/bivrik
replay*
/servers*
/tconplanner
/mods*.zip
/mods.zip
/patchouli_books
config/ftbquests/qusets/chapters/control*
/removed_kjs
CMI Dev.jar
CMI Dev.json
/CMI Dev-natives

# Mods
/mods/*
!/mods/.index/
!/mods/CMI Core-*-1.20.1-all.jar
!/mods/Nebula Tinker-*.jar
!/mods/Industrial Platform-*.jar
!/mods/MasterfulMachinery*.jar
!/mods/Storage Tweaks*.jar

# ResourcePacks
/resourcepacks/*
!/resourcepacks/彩色边框.zip
!/resourcepacks/超好看天空.zip
!/resourcepacks/CMI Squarefully.zip
!/resourcepacks/Qi_Month Addons.zip

# ShaderPacks
/shaderpacks/*

# ProbeDocs
/kubejs/probe/*
!/kubejs/probe/docs/

# Saves
/saves/*
!/saves/Debug/
/saves/debug/*
!/saves/Debug/generated

#.vscode
/.vscode/*
!.vscode/kubejs.code-snippets

# Config
/config/*
/config/jei/world/*
config/nebula/value.txt
!/config/nebula*
!/config/alexscaves_biome_generation
!/config/paxi
!/config/blockswap
!/config/drippyloadingscreen/
!/config/fancymenu/
!/config/ftbquests/**
!/config/jade/
!/config/jei/*
!/config/immersiveengineering-client.toml
!/config/ad_astra.jsonc
!/config/fml.toml
!/config/portality
!/config/scannable*
!/config/carryon-common.toml
!/config/cookingforblockheads-common.toml
!/config/nolijium.json5
!/config/Mekanism/
!/config/ding.toml
!/config/jeiintegration-client.toml
!/config/createaddition-common.toml
!/config/lmft.json
!/config/modernfix-mixins.properties
!/config/steampowered-common.toml
!/config/alexscaves-client.toml
!config/explorerscompass-common.toml
!config/naturescompass-common.toml
!config/oei
!config/railways-client.toml
!config/tconstruct-common.toml
!config/tconstruct-client.toml
!config/asteorbar-client.toml
!config/ModernUI/
!config/immediatelyfast.json
!config/mantle-client.toml
!config/emi.css
!config/treechop-common.toml
!config/legendarytooltips-common.toml